<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1 class="left">たまにぶた</h1>
    <div class="center">
      <ul　class="ani">
        <li>あざらし</li>
        <li>ねこ</li>
        <li>ぶた</li>
        <li>いぬ</li>
      </ul>
    </div>
    <div class="right">
      <ul class="reg">
        <li>ログイン</li>
        <li>新規登録</li>
      </ul>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="container_box">
        <div class="title">わたしがアザラシです</div>
        <div class="name">あざ</div>
        <img src="../img/aza3.jpg" alt="わたしがブタです">
      </div>

      <div class="container_box">
        <div class="title">いやわたしだ</div>
        <div class="name">ごま</div>
        <img src="../img/aza5.jpg" alt="わたしがブタです">
      </div>

      <div class="container_box">
        <div class="title">いやわたしだ</div>
        <div class="name">アザラシ</div>
        <img src="../img/aza4.jpg" alt="わたしがブタです">
      </div>

      <div class="container_box">
        <div class="title">いやわたしだ</div>
        <div class="name">ベイブ</div>
        <img src="../img/pig.jpg" alt="わたしがブタです">
      </div>

      <div class="container_box">
        <div class="title">あなたはブタでしょ</div>
        <div class="name">まる</div>
        <img src="../img/aza2.jpg" alt="わたしがブタです">
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>